.recipe-container {
  width: 100%;
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
}
.recipe-container:hover .recipe-card {
  transform: scale(1.05);
}
.recipe-card {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s linear;
}
.recipe-info {
  width: 100%;
  height: 100%;
  position: absolute;
  font-weight: 600;
  font-size: 32px;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0));
  cursor: pointer;
}
.recipe-detail {
  font-size: 16px;
  font-weight: 500;
}
